html {
    background-color: #efefef;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
}

header {
    background-color: cadetblue;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

h2 {
    font-size: 2pc;
    text-align: center;
}

section {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
}

article {
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

a {
    color: #007bff; /* Color del texto del enlace */
    font-weight: bold; /* Hacer el texto en negrita */
}

/* Estilo al pasar el ratón por encima del enlace */
a:hover {
    color: #0056b3; /* Cambiar color al pasar el ratón */
}

footer {
    background-color: cadetblue;
    color: #fff;
    text-align: center;
    padding: 6px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Seccion sobre mi*/

.fotosibai {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px;
    display: inline-block;
}

.social-icon {
    width: 50px; 
    height: 50px;
    margin: 10px;
    display: inline-block; 
}

.social-link {
    text-decoration: none; 
    color: #333; 
    
}



/*Seccion Temas*/

#lista {
    list-style-type: none;
}

.ranking {
    margin-bottom: 10px;
    text-align: center;
}

.fotosranking {
    display: block;
    margin: 10px auto;
}

/*Seccion Red*/






/*Seccion FII*/

/*Seccion Detalle*/

/*Seccion Contacto*/

form {
    max-width: 400px;
    margin: 0 auto;
}
  
label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
  
button:hover {
    background-color: #45a049;
}